.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 245px 0 245px;
  &__navbar {
    display: flex;
  }
  &__navbar-item {
    color: #0f001a;
    margin-left: 48px;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    &:hover {
      color: #4a99d3;
    }
  }
}
